doctype html
html
    head
        title Gestor de Ficheiros
        meta(charset="UTF-8")
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/jquery.modal.min.css')
        script(src="javascripts/jquery-3.4.1.min.js")
        script(src="javascripts/gficheiros.js")
        script(src="javascripts/jquery.modal.min.js")
    body
        block content
